---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: harvesterclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: HarvesterCluster
    listKind: HarvesterClusterList
    plural: harvesterclusters
    singular: harvestercluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster infrastructure is ready for HarvesterMachine
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: Server is the address of the Harvester endpoint
      jsonPath: .spec.server
      name: Server
      type: string
    - description: API Endpoint
      jsonPath: .spec.controlPlaneEndpoint[0]
      name: ControlPlaneEndpoint
      priority: 1
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: HarvesterCluster is the Schema for the harvesterclusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: HarvesterClusterSpec defines the desired state of HarvesterCluster
            properties:
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              identitySecret:
                description: IdentitySecret is the name of the Secret containing HarvesterKubeConfig
                  file.
                properties:
                  name:
                    description: Name is the name of the required Identity Secret
                    type: string
                  namespace:
                    description: Namespace is the namespace in which the required
                      Identity Secret should be found
                    type: string
                required:
                - name
                - namespace
                type: object
              loadBalancerConfig:
                description: LoadBalancerConfig describes how the load balancer should
                  be created in Harvester.
                properties:
                  ipPool:
                    description: IpPool defines a new IpPool that will be added to
                      Harvester. This field is mutually exclusive with "IpPoolRef"
                    properties:
                      gateway:
                        description: Gateway is the IP Address that should be used
                          by the Gateway on the Subnet. It should be a valid address
                          inside the subnet e.g. 172.17.1.1
                        type: string
                      subnet:
                        description: Subnet is a string describing the subnet that
                          should be used by the IP Pool, it should have the CIDR Format
                          of an IPv4 Address e.g. 172.17.1.0/24
                        type: string
                      vmNetwork:
                        description: VMNetwork is the name of an existing VM Network
                          in Harvester where the IPPool should exist.
                        type: string
                    required:
                    - gateway
                    - subnet
                    - vmNetwork
                    type: object
                  ipPoolRef:
                    description: IpPoolRef is a reference to an existing IpPool object
                      in Harvester's cluster in the same namespace. This field is
                      mutually exclusive with "ipPool"
                    type: string
                  ipamType:
                    description: IPAMType is the configuration of IP addressing for
                      the control plane load balancer. This can take two values, either
                      "dhcp" or "ippool"
                    enum:
                    - dhcp
                    - pool
                    type: string
                required:
                - ipamType
                type: object
              server:
                description: Server is the url to connect to Harvester.
                type: string
            required:
            - identitySecret
            - loadBalancerConfig
            type: object
          status:
            description: HarvesterClusterStatus defines the observed state of HarvesterCluster
            properties:
              failureMessage:
                description: FailureMessage is a full error message dump of the above
                  failureReason
                type: string
              failureReason:
                description: FailureReason is the short name for the reason why a
                  failure might be happening that makes the cluster not ready
                type: string
              ready:
                description: Reddy describes if the Harvester Cluster can be considered
                  ready for machine creation
                type: boolean
            required:
            - ready
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
